<!DOCTYPE HTML>
<html>

<head>
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <title>URL Shortener</title>
</head>

<body>

<form action="/" method="post">
  <input type="text" name="input_url" placeholder='Enter the URL you would like to "shorten"'>
  <br>
  <input type="submit" name="url" value="Shorten">
</form>
</div>
</body>
</html>

