<!DOCTYPE HTML>
<html>

<head>
  <link href="styles/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <title>URL Shortener</title>
</head>

<body>
<div class="h3">
<h3>Original URL <%= url %></h3>
<h3>"Shortened" URL <%= new_url %></h3>
</div>
<a href="/">"Shorten" another URL</a>
</body>
</html>
