.shorten-url-inputs {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.url-to-shorten {
    width: 50%;
    font-size: 1.25em;
    margin: .5em auto;
    padding: .25em;
}

.action {
    display: inline;
    padding: .5em;
    background-color: #0077ff;
    color: #fff;
    margin: auto;
}

.h3 {
    width: 50%;
    font-size: 1.25em;
    margin: auto;
    margin-top: 10%;
    padding: .25em;
}

body {
   text-align: center;
}

a {
    font-size: 1.25em;
}

