input[type="text"] {

   box-sizing: border-box;
    width: 40%;
    border: .25em solid;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20%;
    padding: 10px;
}

input[type="submit"] {
    position: relative;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 2%;
    background-color: blue;
    color: white;
    padding: 10px;
    box-shadow: 5px 5px 2px #888888;
    border: 2px solid black;
}

