.shorten-url-inputs {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.url-to-shorten {
    width: 50%;
    font-size: .75em;
    margin: 1em auto;
    margin-top: 20%;
    margin-bottom: 0px;
    padding: .5em;
    font-weight: bold;
    border: 2px solid black;
}

.button {
    display: inline;
    padding: .5em;
    background-color: #0077ff;
    color: #fff;
    margin: 0 auto auto auto;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}

.h3 {
    width: 50%;
    font-size: 1.25em;
    margin: auto;
    margin-top: 10%;
    padding: .25em;
}

body {
   text-align: center;
}

a {
    font-size: 1.25em;
}

